

.App {
    text-align: center;
  }
  
  .upload {
    border-color: rgb(44 52 55 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    /* background-color: rgb(13 18 28 / var(--tw-bg-opacity)); */

    color: white;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 1vmin);
    color: white;
  }